.master-password-parent{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 8px;
}
.input-field-master-password {
  width: 60%;
}
.input-field-master-password input {
  width: 100%;
  padding: 10px;
  outline: none;
}