.sidebar {
  width: 100%;
  background-color:var(--secondary-bg-color);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 90vh;
  overflow-y:scroll ;
}
.sidebar::-webkit-scrollbar{
  width: 2px;
}
.sidebar::-webkit-scrollbar-thumb {
    background-color: #888; /* Darker color for scrollbar handle */
    border-radius: 10px;
    border: 2px solid #f1f1f1; /* Padding inside the scrollbar handle */
  }


.menu {
}

.menu-title {
  padding: 8px;
  background-color: var(--primary-color);
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.3s ease;
}

/* .menu-items-open {
}

.menu-items-closed {
  max-height: 0;
  opacity: 0;
} */

.menu-item {
  background: var(--sidebar-menu-link-bg); 
  /* color: var(--sidebar-menu-link-color); */
  border: 1px solid gray;
  font-weight: 400;
  font-size: 14px;
  padding: 10px 0px;
  color: black;
  cursor: pointer;
}
.menu-items .menu-item:last-child {
  border-bottom: none;
}


.heading-name-sports-span{
  padding: 0px 15px;
  font-size: 14px;
}

.toggle-icon {
  font-size: 14px;
  color:black;
  transition: transform 0.3s ease;
}

.nested-items {
  list-style: none;
  /* padding-left: 20px; */
  width: 100%;
  display: none;
  background-color: rgb(202, 202, 228);
  transition: all 0.7s ease-in-out;

}

.nested-open {
  display: block;
  transition: all 0.7s ease-in-out;

}

.nested-closed {
  display: none;
  transition: all 0.7s ease-in-out;

}

.nested-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  width: 100%;
  padding: 0px 15px;
  color:white;
}
.nested-icon {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 1rem;
}
.deep-nested-title{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 13px;
  width: 100%;
  color: black;

}
.deep-nested-icon{
  display: flex;
  align-items: center;
  margin-inline-start: 25px;
  padding: 3px ;
}
.subitem-name-span-sports{
  font-size: 14px;
  width: 100%;
  color: black;
  padding: 3px 0px ;
}
.deep-nested-item{
  list-style: none;
  font-size: 13px;
  padding: 3px 50px ;
  color: black ;
   /* border-Top: 1px solid var(--sidebar-menu-link-border); */
}



