.DateFilter-parent{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.datefilter-child{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;   
    padding: 8px;
}
.range-picker-parent{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.rangePicker{
    width: 100%;
    border: 1px solid rgb(116, 113, 113);
}
.select-part-parent-filter{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.select-part-report{
    width:100%;
    color: black;
}

.search-input-tag{
    border: 1px solid rgb(134, 129, 129);
    padding: 6px 10px;
    width: 100%;
    border-radius: 5px;
}
.label-part-date-filter{
    padding-inline-start: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

.button-submit-date-filter{
    display: flex;
    margin-inline-start: 20px;
    margin-top: 15px;
    align-items: flex-end;

}
.submit-btn-filter{
    padding: 8px 15px;
    margin: 0px 5px;
    background-color: var(--primary-bg-color);
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.submit-btn-filter:hover{
    background-color:  #0a71a5;
   
}
.DateFilter-parent{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.datefilter-child{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;   
    padding: 8px;
}
.range-picker-parent{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.rangePicker{
    width: 100%;
    border: 1px solid rgb(116, 113, 113);
}
.select-part-parent-filter{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.select-part-report{
    width:100%;
    color: black;
   
}

.search-input-tag{
    border: 1px solid rgb(134, 129, 129);
    padding: 6px 10px;
    width: 100%;
    border-radius: 5px;
}
.label-part-date-filter{
    padding-inline-start: 5px;
    padding-bottom: 5px;
}

.button-submit-date-filter{
    display: flex;
    margin-inline-start: 20px;
    margin-top: 15px;
    align-items: flex-end;

}
.submit-btn-filter{
    padding: 8px 15px;
    margin: 0px 5px;
    background-color: var(--primary-bg-color);
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.submit-btn-filter:hover{
    background-color:  #0a71a5;
   
}

@media (max-width:1400px){
 .datefilter-child{
    justify-content: center;
    border: 2px solid blue;
 }
}