.Layout-container{
    position:relative ;
}
.sidebar-component{
    position: absolute;
    top: 50px;
    z-index: 999;
    width: 14%;
    transform: translateX(-400px);
    transition:transform 0.9s  ease-in-out;
}

.OpenSidebar{
    transform: translateX(0px);
}